html {
    font-family: 'Audiowide';    
    color: rgb(96, 96, 96);
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background:rgb(16, 16, 16);             
}

header {
    background:rgb(24, 24, 24);     
    width: 100vw;
    box-shadow: 0 0rem 1rem rgb(8, 8, 8);
    display: table-cell; 
    vertical-align: middle;
}
h1 {
    font-family: 'Merkurius';
    font-size: 4rem;
    margin: 2rem;
    background: -webkit-linear-gradient(silver, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    padding: 2rem;
}
legend {
    background: -webkit-linear-gradient(rgb(16, 16, 16), rgb(14, 14, 14));
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    margin: auto;
}
fieldset {
    background: rgb(14, 14, 14);
    border:0.2rem solid rgb(96, 96, 96);
    border-radius: 0.2rem;
}

#wave{
    width: calc(35% - 4rem);
}

input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
  }