html {
    font-family: 'Audiowide';    
    color: rgb(96, 96, 96);
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background:rgb(16, 16, 16);      
    overflow-x: hidden;       
}

header {
    background:rgb(24, 24, 24);     
    width: 100vw;
    max-height: 10vh;
    box-shadow: 0 0rem 1rem rgb(8, 8, 8);
    display: table-cell; 
    vertical-align: middle;
}
h1 {
    font-family: 'Merkurius';
    font-size: 4vw;
    margin: 2vw;
    background: -webkit-linear-gradient(silver, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
}
main .spacer{
    margin: 2rem;
    width: calc(100vw - 4rem);
    max-height: 80vh;
}
legend {
    background: -webkit-linear-gradient(rgb(16, 16, 16), rgb(14, 14, 14));
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    margin: auto;
}
fieldset {
    border: 0.2rem solid rgb(96, 96, 96);
    background: rgb(14, 14, 14);
    border-radius: 0.2rem;
}
section{
    background:rgb(24, 24, 24);   
    max-height: 20vh;
}


@media screen and (max-width:720px) {
    h1 {
    }
}